@tailwind base;
@tailwind components;
@tailwind utilities;

.image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@font-face {
  font-family: "SF-Pro";
  src: url("/fonts/SF-Pro.ttf") format("truetype");
}
